@page 
@using ContosoCrafts.WebSite.Services
@inject JsonFileUserService ProductService
@model ContosoCrafts.WebSite.Pages.Product.CreateUserModelModel

@{
    ViewData["Title"] = "Create account";
}

<h1>Create Account</h1>

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.Product.user_id)


        <div class="form-group">
            <label asp-for="Product.email" class="control-label"></label>
            <input asp-for="Product.email" class="form-control" />
            <span asp-validation-for="Product.email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.password" class="control-label"></label>
            <input type="password" asp-for="Product.password" class="form-control" />
            <span asp-validation-for="Product.password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Product.name" class="control-label"></label>
            <input asp-for="Product.name" class="form-control" />
            <span asp-validation-for="Product.name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Product.age" class="control-label"></label>
            <input asp-for="Product.age" class="form-control" />
            <span asp-validation-for="Product.age" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Product.gender" class="control-label"></label>
            <input asp-for="Product.gender" class="form-control" />
            <span asp-validation-for="Product.gender" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Product.bio" class="control-label"></label>
            <input asp-for="Product.bio" class="form-control" />
            <span asp-validation-for="Product.bio" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}