@page
@using ContosoCrafts.WebSite.Services
@inject JsonFileUserService ProductService

@model ContosoCrafts.WebSite.Pages.Product.LoginModel

@{
    ViewData["Title"] = "Login page";
}
<h3>Login</h3>
<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="User.email" class="control-label">Email</label>
            <input asp-for="User.email" class="form-control" />
            <span asp-validation-for="User.email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="User.password" class="control-label">Password</label>
            <input asp-for="User.password" class="form-control" type="password" />
            <span asp-validation-for="User.password" class="text-danger"></span>
        </div>
        <br />
        <br />
        <br />
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}