@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileUserService UserService
@model SquidMeet.WebSite.Pages.Product.ProfileNameUpdateModel
@{
    ViewData["Title"] = "Update profile name";
}

<div class="container profile-age-update-container">
    <form method="post">
        <h2 class="profile-gender-update-h2">Update Your Name</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.UserProfile.user_id)
        <div class="form-group">
            <input asp-for="UserProfile.name" class="form-control" />
            <span asp-validation-for="UserProfile.name" class="text-danger"></span>
        </div>



        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" id="mySubmit" />
        </div>
    </form>

</div>
<script type="text/javascript">
    $(document).ready(function() {
       $('#mySubmit').hide();
    });
</script>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}