@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileUserService UserService
@model SquidMeet.WebSite.Pages.Product.ProfileUpdateModel

@{
    ViewData["Title"] = "Update profile";
}

<h1>Update</h1>

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.UserProfile.user_id)

        <div class="form-group">
            <label asp-for="UserProfile.name" class="control-label">Change your username.</label>
            <input asp-for="UserProfile.name" class="form-control" />
            <span asp-validation-for="UserProfile.username" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="UserProfile.password" class="control-label">Change your password.</label>
            <input asp-for="UserProfile.password" class="form-control" />
            <span asp-validation-for="UserProfile.password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="UserProfile.age" class="control-label">Change your age.</label>
            <input asp-for="UserProfile.age" class="form-control" />
            <span asp-validation-for="UserProfile.age" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="UserProfile.gender" class="control-label">Change your gender.</label>
            <input asp-for="UserProfile.gender" class="form-control" />
            <span asp-validation-for="UserProfile.gender" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="UserProfile.bio" class="control-label">Change your bio</label>
            <input asp-for="UserProfile.bio" class="form-control"/>
            <span asp-validation-for="UserProfile.bio" class="text-danger"></span>
        </div>

        

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}