@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileUserService UserService
@model SquidMeet.WebSite.Pages.Product.ProfileGenderUpdateModel
@{
    ViewData["Title"] = "Update profile gender";
}
<h1> Update Your Gender Identity</h1>

<div class="container">
    <form method="post" style="margin-top:100px; margin-bottom:340px">
        <h2 style="margin-bottom:100px">Update Your Gender</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.UserProfile.user_id)

        <div class="form-group">
            <input asp-for="UserProfile.gender" class="form-control" />
            <span asp-validation-for="UserProfile.gender" class="text-danger"></span>
        </div>



        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>

</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}