@page
@model ContosoCrafts.WebSite.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Index page";
}

<div class="container profuct-index-container">

    <a asp-page="Create" class="btn btn-link">+ Create</a>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
            <tr>
                <td>@product.name</td>
                <td><a asp-page="Read" asp-route-id="@product.location_id" class="product-index-read">Read</a></td>
                <td><a asp-page="Update" asp-route-id="@product.location_id" class="product-index-update">Update</a></td>
                <td>
                    <form method="post">
                        <input name="Id" type="hidden" value="@product.location_id" />
                        <input type="submit" value="Delete" class="btn btn-outline-danger" />
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>