@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileUserService UserService

@model SquidMeet.WebSite.Pages.Product.ProfileBioUpdateModel
@{
    ViewData["Title"] = "Update profile bio";
}

<h1>Update Your Bio</h1>

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.UserProfile.user_id)


        <div class="form-group">
            <label asp-for="UserProfile.bio" class="control-label">Change your bio</label>
            <input asp-for="UserProfile.bio" class="form-control"/>
            <span asp-validation-for="UserProfile.bio" class="text-danger"></span>
        </div>

        

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}