@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileUserService ProductService


@model ContosoCrafts.WebSite.Pages.Product.ProfileModel

@{
    ViewData["Title"] = "Profile page";
}


<div class="content">
    <h5 class="title" id="Username">Username: @Model.Product.username</h5>
    <h5 class="title" id="name">Name:@Model.Product.name.</h5>

</div>

<br />
<br />

<div class="row">
    <a asp-page="Update" asp-route-id="@Model.Product.username" class="btn btn-primary">Update</a>

	<a asp-page="Update Bio" asp-route-id="@Model.Product.username" class="btn btn-primary">Update Bio</a>
	<a asp-page="Update Gender" asp-route-id="@Model.Product.username" class="btn btn-primary">Update Gender</a>

</div>