@page
@model SquidMeet.WebSite.Pages.Group.AcceptInviteModel
@{
    TempData.Keep("user");
}

<div class="container group-container">
    <div class="col-12 text-center">
        <h3 class="section-title">Enter Invitation Code</h3>
    </div>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.Meetup.meetup_id)

        <div class="form-group">
            <input asp-for="Meetup.InviteCode" class="form-control" />
            <span asp-validation-for="Meetup.InviteCode" class="text-danger"></span>
        </div>


        <div class="form-group">
            <input type="submit" value="Join Group" class="btn btn-primary" />
        </div>
    </form>

</div>