@page
@model SquidMeet.WebSite.Pages.NewGroup.CreateNewGroupModel
@{
}
<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.location.location_id)

        <div class="form-group">
            <label asp-for="newMeetup.Title" class="control-label">What will your group’s name be?</label>
            <input asp-for="newMeetup.Title" class="form-control" />
            <span asp-validation-for="newMeetup.Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="newMeetup.location" class="control-label">Set your group's location.</label>
            <input asp-for="newMeetup.location" class="form-control" />
            <span asp-validation-for="newMeetup.location" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="newMeetup.Description" class="control-label">Describe what your group will be about</label>
            <input asp-for="newMeetup.Description" class="form-control" />
            <span asp-validation-for="newMeetup.Description" class="text-danger"></span>
        </div>

        <div class="form-row align-items-center">
            <div class="col-auto my-1">
                <label asp-for="newMeetup.LocationType" class="mr-sm-2" for="inlineFormCustomSelect">Your location type</label>
                <select asp-for="newMeetup.LocationType" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option value="Indoor">Indoor</option>
                    <option value="Outdoor">Outdoor</option>
                    <option value="Online">Online</option>
                </select>
            </div>
        </div>

        <br />
        <div class="form-group">
            <label asp-for="newMeetup.Host" class="control-label">Tell us the Host name of this group</label>
            <input asp-for="newMeetup.Host" class="form-control" />
            <span asp-validation-for="newMeetup.Host" class="text-danger"></span>
        </div>

        <br />

        <div class="form-group">
            <label asp-for="newMeetup.Img" class="control-label">Now choose a picture for you group</label>
            <input asp-for="newMeetup.Img" type="file" class="form-control-file" />
            <span asp-validation-for="newMeetup.Img" class="form-control-file"></span>
        </div>

        <br />
        <br />
        <div class="form-group">
            <input type="submit" value="Ok" class="btn btn-primary" />
        </div>
    </form>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}