@page
@using SquidMeet.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!--<a href="/">This page will show as welcome page </a> -->

<div class="container1">
    <section class="hero-area bg-primary" id="parallax">
        <div class="container">
            <div class="row">
                <div class="col-lg-11 mx-auto">
                    <h1 class="text-white font-tertiary">Welcome to <br /><br />&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; Squid meet!</h1>
                </div>
            </div>
        </div>
        <div class="layer-bg w-100">
            <img class="bg-shape-1 w-100" src="images/illustrations/leaf-bg.png" alt="illustrations">
        </div>
        <div class="layer layer-12" id="l2">
            <img src="./images/illustrations/dots-cyan.png" alt="bg-shape">
        </div>
        <div class="layer layer-13" id="l3">
            <img src="./images/illustrations/leaf-orange.png" alt="bg-shape">
        </div>
        <div class="layer layer-14" id="l4">
            <img src="./images/illustrations/dots-orange.png" alt="bg-shape">
        </div>
        <div class="layer layer-15" id="l5">
            <img src="~/images/illustrations/leaf-yellow.png" alt="bg-shape">
        </div>
        <div class="layer layer-16" id="l6">
            <img src="./images/illustrations/leaf-cyan.png" alt="bg-shape">
        </div>
        <div class="layer layer-17" id="l7">
            <img src="./images/illustrations/dots-group-orange.png" alt="bg-shape">
        </div>
        <div class="layer layer-18" id="l8">
            <img src="./images/illustrations/leaf-pink-round.png" alt="bg-shape">
        </div>
        <div class="layer layer-19" id="l9">
            <img src="./images/illustrations/leaf-cyan-2.png" alt="bg-shape">
        </div>
        <!-- social icon -->
        <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
            <li class="mb-3"><a class="text-white" href="https://themefisher.com/"><i class="ti-facebook"></i></a></li>
            <li class="mb-3"><a class="text-white" href="https://themefisher.com/"><i class="ti-instagram"></i></a></li>
            <li class="mb-3"><a class="text-white" href="https://themefisher.com/"><i class="ti-dribbble"></i></a></li>
            <li class="mb-3"><a class="text-white" href="https://themefisher.com/"><i class="ti-twitter"></i></a></li>
        </ul>
        <!-- /social icon -->
    </section>
</div>



@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>