@page
@using SquidMeet.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!--<a href="/">This page will show as welcome page </a> -->
<h1>Squid Meet</h1>

@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>