@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<!--<a href="/">This page is to detail the site's privacy policy.</a> -->
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
