@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<!--<a href="/">This page is to detail the site's privacy policy.</a> -->
<h1>@ViewData["Title"]</h1>

<div class="container" style="margin-top: 100px">
    <p>
        Effective Date: May 2, 2022
    Introduction and Overview
    This Privacy Policy ( "Policy" ) explains how your the information is collected, used, shared and processed when you create an account in the squidmeetup.
    Right to modify this Policy:
    We may change this Policy from time to time, to reflect how we are processing your data,
    and if we make changes, we will notify you by revising the effective date or last modified data at the top of this Policy.
    If we make significant changes that materially affect your privacy rights,
    we will provide advanced notice and make that clear on the squidmeetup website or other squidmeetup services, or by some other means of contact such as email,
    so that you are able to review the changes before you continue to use the Services.
    Your continued access or use of our Services after receiving the notice of changes,
    constitutes your acknowledgement that you accept the updated Policy.
    </p>
</div>




