@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services
@using Microsoft.AspNetCore.Components.Web
@using ContosoCrafts.WebSite.Pages
@using SquidMeet.WebSite.Components
@using Microsoft.AspNetCore.Mvc.RazorPages;
@inject JsonFileMeetupService MeetupService
@inject NavigationManager NavigationManager

<h3>All Groups</h3>

<div class="card-columns" style="margin-top: 100px">
    @{
        var dataset = MeetupService.GetMeetups();
        foreach (var meetup in dataset)
        {
            var attendees = meetup.Attendees;
            int count;
            @if (attendees != null)
            {
                count = attendees.Count();
            }
            else
            {
                count = 0;
            }
            <div class="card">
                <a href="/Group/Detail/@meetup.meetup_id" onclick="">
                    <div class="card-img" style="background-image: url('@meetup.Img');">
                    </div>
                </a>
                <div class="card-body">
                    <h4 class="card-title text-dark">@meetup.Title</h4>
                    <a class="card-text">Host: &nbsp;@meetup.Host</a>
                    @{
                        if (attendees != null)
                        {
                            <br />
                            <a>Attendees: </a>
                            foreach (var attendee in attendees)
                            {
                                if (attendee != null)
                                {
                                    <a style="font-size:12px; margin-right: 10px">@attendee.user</a>
                                }

                            }
                        }
                        else
                        {
                            <br />
                            <a class="card-text"> 0 Attendees</a>
                        }
                    }
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        Date: @meetup.Date
                    </small>
                </div>
            </div>

        }

    }
</div>

@code {
}
