@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services
@using Microsoft.AspNetCore.Components.Web
@using ContosoCrafts.WebSite.Pages
@using SquidMeet.WebSite.Components
@inject JsonFileMeetupService MeetupService
@inject NavigationManager NavigationManager


@*<a href="Update">Update &nbsp;</a>*@
