<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.5" />
    <title>@ViewData["Title"] - Squid Meet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
</head>
<body>
    <section class="page-title bg-primary position-relative">
        <header class="navigation fixed-top nav-bg">
            <nav>
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">Squid Meet</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex">                   
                        <a class="btn btn-primary" asp-area="" asp-page="/Privacy">Privacy</a>
                        <a class="btn btn-primary" asp-area="" asp-page="/Product/Index">Products</a>
                        <a class="btn btn-primary" asp-area="" asp-page="/Group/Index">New Group</a>
                        <a class="btn btn-primary" asp-area="" asp-page="/Group/ViewMyGroup" asp-route-id="0">My Groups</a>
                        <a class="btn btn-primary" asp-area="" asp-page="/Group/ReadAllGroups">All Groups</a>
                        <a class="btn btn-primary" asp-area="" asp-page="/Profile/Profile" asp-route-id="0">Profile</a>
                        <a class="btn btn-primary" asp-area="" asp-page="/Authentication/Login">Login</a>
                        <a class="btn btn-primary" asp-area="" asp-page="/Authentication/CreateAccount">Create Account</a>
                        <a class="btn btn-primary" asp-area="" asp-page="/Authentication/Logout">Logout</a>
                    </div>
                </div>
            </nav>
        </header>
    </section>
    
</nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-footer">
        <div class="container">
            &copy; 2022 - SquidMeet - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
